<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/index.css" />
    <title>Page Not Found</title>
  </head>
  <body>
      <h1>C Web Server</h1>
      <hr>
      <h2>Error 404</h1>
      <h3>The page you were looking for could not be found.</h2>
      <br>
      <br>
      <br>
      <a href="https://www.github.com/joshjkk/c-web-server"> The Github repo</a>
  </body>
</html>
